@charset "UTF-8";
/* CSS Document */
/* h1 */
#h1_bk {
	height: 100px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
/* トップイメージ */
#top_img {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}
/* h2 */
h2 {
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	text-align: center;
	font-size: 4em;
	margin-top: 60px;
	font-weight: normal;
	margin-bottom: 50px;
}
/* コンテンツ１ */
#content1_left {
	height: 301px;
	width: 478px;
	float: left;
}
#content_right {
	float: right;
}
#warp1 {
	width: 840px;
	margin-right: auto;
	margin-left: auto;
}
/* お問い合わせはこちら１ */
.inquiry {
	width: 793px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	padding-top: 65px;
	padding-bottom: 65px;
}
/* コンテンツ２ */
/* コンテンツ２−１−３ */
#subhead1 {
	background-image: url(images/subhead1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 113px;
	width: 846px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 113px;
	font-size: 2.5em;
}
.content2_1-3 dt {
	font-size: 1.5em;
	margin-bottom: 20px;
}
#content2_warp {
	width: 846px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/back.gif);
	background-repeat: repeat-y;
	background-position: left top;
	padding-top: 40px;
}
.content2_1-3 {
	width: 415px;
	float: right;
}
/* コンテンツ２−２ */
.content2_left {
	float: left;
	height: 245px;
	width: 300px;
}
#content2_2 {
	float: left;
	width: 415px;
}
#content2_warp2 {
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}
.content2_warp2 {
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	padding-top: 30px;
	height: 245px;
	margin-bottom: 30px;
}

#content2_2 dt {
	font-size: 1.5em;
	margin-bottom: 20px;
}
#content2_right {
	float: right;
}
/*　コンテンツ３ */
.content3 {
	margin-top: 80px;
	width: 846px;
	margin-right: auto;
	margin-left: auto;
}
.content3 dt {
	font-size: 2.5em;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #999;
	padding-left: 15px;
	line-height: 1.4em;
	height: 50px;
	margin-bottom: 20px;
}

/* コンテンツ４ */

#content4 {
	width: 846px;
	margin-right: auto;
	margin-left: auto;
}
#content4 dt {
	font-size: 2.5em;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #999;
	padding-left: 15px;
	line-height: 1.4em;
	height: 50px;
	margin-bottom: 20px;
}
#content4 dd ul li {
	height: 431px;
	width: 260px;
	border: 1px solid #999;
	text-align: center;
	float: left;
	padding-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
}
#content4 dd ul li p {
	text-align: left;
	margin-top: 20px;
	width: 235px;
	margin-right: auto;
	margin-left: auto;
}
#content4 dd {
	width: 830px;
	margin-right: auto;
	margin-left: auto;
}
#img4 {
	width: 840px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-bottom: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}
/* コンテンツ５ */
#content5 {
	width: 841px;
	margin-right: auto;
	margin-left: auto;
	height: 620px;
	border: 2px solid #999;
	margin-bottom: 50px;
}
#content5 dt {
	font-size: 2.5em;
	background-image: url(images/subhead2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 85px;
	width: 785px;
	line-height: 2.4em;
	padding-left: 30px;
	color: #FFF;
	margin-top: 30px;
	margin-left: 10px;
	position: relative;
}
#content5 dd {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 750px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
}
#content5 dd #left {
	float: left;
	position: relative;
	margin-right: 30px;
}
#content5 dd p {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	padding-bottom: 20px;
	position: relative;
	width: 643px;
}
#content5 dd #left {
	float: left;
	margin-right: 20px;
	position: relative;
}

/*　フッター */
#copyright {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-bottom-color: #999;
	margin-bottom: 0px;
	padding: 0px;
	line-height: 7em;
	background-color: #FFF;
	margin-top: 0px;
}
